<div class="search-form--row">
  <div class="search-form--input">
    {{input value=search.query placeholder="Query"}}
  </div>

  <div class="search-form--input">
    {{input value=search.latlng placeholder="Latitude / Longitude"}}
  </div>

  <div class="search-form--input">
    {{input value=search.from_date placeholder="From"}}
    {{input value=search.to_date placeholder="To"}}
  </div>
</div>

<div class="search-form--row flex-none text-center">
  <div class="search-form--input search-form--input-sort">
    {{search-form-sorting sortBy=(mut search.sort_by)}}
  </div>

  <div class="search-form--input text-center flex-none">
    {{#each formatFilters as |filter|}}
      {{#search-form-checkbox value=filter.value}}
        {{fa-icon filter.icon}}
      {{/search-form-checkbox}}
    {{/each}}
  </div>

  <div class="search-form--input text-center">
    {{#each platformFilters as |filter|}}
      {{#search-form-checkbox value=filter.value}}
        {{fa-icon filter.icon}}
      {{/search-form-checkbox}}
    {{/each}}
  </div>

  <div class="search-form--input search-form--input-submit text-right">
    <button class="btn" {{action "updateSearch"}} disabled={{isSubmitDisabled}}>
      {{#if loading}} Loading {{else}} Submit {{/if}}
    </button>
  </div>
</div>
