<div class="search-toolbar--section">
  <label for="">Query</label>
  {{input value=search.query}}
</div>

<div class="search-toolbar--section">
  <label for="">Latitude / Longitude</label>
  {{input value=search.latlng}}
</div>

<div class="search-toolbar--section">
  <label for="">Date</label>
  {{input value=search.date}}
</div>

<div class="search-toolbar--section">
  {{#each formatFilters as |filter|}}
    {{search-toolbar-checkbox label=filter.label value=filter.value}}
  {{/each}}
</div>

<div class="search-toolbar--section">
{{#each platformFilters as |filter|}}
  {{search-toolbar-checkbox label=filter.label value=filter.value}}
{{/each}}
</div>

<div class="search-toolbar--section">
  Sort By
  <span>Oldest</span>
  <span>Newsest</span>
</div>

<button {{action "updateSearch"}}>Search</button>

{{yield}}
